html, body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background: url(../images/purty_wood.png);
  color: #323232;
  -webkit-user-select: none;
  font: 12px "Lucida Sans Unicode", "Myriad Pro", "Hiragino Sans GB", "Heiti SC", "微软雅黑", Verdana, Helvetica, sans-serif, SimHei, "黑体";  
  cursor: default;
}

h1 {
  margin: 18% 0;
  text-align: center;
  font-family: helvetica;
}

nav {
  display: block;
  color: #fff;
  text-shadow: none;  
  height: 36px;
  background: -webkit-linear-gradient(top, #e8e8e8, #9b9ea0);
  border-top: 1px solid #fff;
  box-shadow: 1px -1px 0px #999;
  position: fixed;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 10px;
  z-index: 1000;
}

nav img {
  margin-top: 5px;
  width: 24px;
  height: 24px;
  border-radius: 10px;
}

nav img:hover {
  box-shadow: 0 0 50px yellow;
}

nav img:active {
  box-shadow: 0 0 20px yellow;
}

.icon {
  margin-bottom: -3px;
}

.main {
  margin-bottom: 36px;
  overflow: auto;
  max-width: 400px;
  min-width: 400px;
  border-right: 1px solid #ccc;
  z-index: 100;
  position: relative;
  box-shadow: 3px 0px 10px #999;  
}

.side {
  position: absolute;
  margin-bottom: 36px;
  overflow-x: hidden;
  height: 100%;
  border-right: 1px solid #ccc; 
  z-index: 1;
  top: 0px;
  left: 400px;
}

.inner {
  width:1000px;
  background-color: #fff;
  position: relative;
  height: 100%;
  z-index: 1px;
}

.anim_block {
  width: 500px;
  height: 100%;
  position: absolute;
  background-color: #fff;
}

#block1 {
  left: -500px;
}

#block2 {
  left: 0px;
}

.side_content {
  padding: 10px;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.bo_list li {
  border-bottom: 1px solid #dedede;
}

.single_bo img {
  border-radius: 4px;
}
.single_bo .avatar {
  float: left;
}
.single_bo .content{
  margin-left: 58px;
  -webkit-user-select: text;
  position: relative;
}

.rt_avatar img {
  width: 40px;
  height: 40px;
  float: left;
  margin-left: 10px;
  border-radius: 4px;
}

.tweet_image img {
  width: 100%;
}

.rt_content{
  padding: 2px 0px;
  border-top: 1px dotted #999;
}

.single_bo .user {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

.use_detail {
  background: -webkit-linear-gradient(top, #f1f1f1, #e0e0e0);
}

.bo_container, .side_container {
  background: -webkit-linear-gradient(top, #fff, #f4f4f4);
  min-height: 50px;
  padding: 10px 15px 10px 10px;
}

.side_container {
  padding: 10px 15px 10px 20px;
}

.bo_container .stat {
  display:none;
}

.bo_container:hover .comment_stats, .bo_container:hover .stat {
  display: inline;
}

.recent_comments, .recent_statuses {
  margin: 20px 0px 20px 0px;
  padding-top: 20px;
  border-top: 1px dotted #ccc;
}

.bo_container:hover .time {
  display: none;
}

.selected {
  -webkit-transition: background 1s linear;
  box-shadow: 1px 1px 2px #ddd inset;
  background: -webkit-linear-gradient(top, #f0f0f0, #f6f6f6);
}

.left {
  float: left;
}

.action {
  float: right;
  font-weight: normal;
  color: #666;
}

.time {
  visibility: visible;
}

a {
  color: #6a7f8b;
  text-decoration: none;
}

.comment_stat {
  color: #666;
  font-size: 11px;
  text-align: right;
}

#new_status {
  position: absolute;
  z-index: 200;
  left: 0px;
  margin-left: 10px;
  bottom: -130px;
  width: 380px;
  margin-bottom: 46px;
  height: 120px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 0px 6px #666;
}

.new_status_container {
  padding: 10px;
}

.new_status_container img {
  border-radius: 6px;
}


.send_action {
  height: 40px;
  width: 100%;
  padding-top: 6px;
  background-color: #000;
  border-radius: 0px 0px 4px 4px;
  border-bottom: 1px solid #000;
}

.send_action .submit {
  float: right;
  margin-right: 10px;
}

.send_action .cancel {
  margin-left: 10px;
}

#new_status textarea {
  border: none;
  width: 300px;
  height: 50px;
  outline: none;
  resize: none;
  font-size: 12px;
}

#new_status textarea:active {
  border: none;
}

#overlay {
  background-color: #000;
  opacity: 0.2;
  position: absolute;
  width: 2000px;
  height: 2000px;
  left: 0;
  top: 0;
  z-index: -1;
}