<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>细语微博 @mechiland</title>
    <link href="assets/stylesheets/style.css" type="text/css" rel="stylesheet" charset="utf-8" />
    <script type="text/javascript" src="assets/javascripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="assets/javascripts/doT.js"></script>
    <!--script type="text/javascript" src="assets/javascripts/backbone-min.js"></script-->
    <script type="text/javascript" src="assets/javascripts/app.js"></script>
  </head>
  
  <body>

    <div id="main" role="main">
      {{ content }}
    </div>
  </body>
</html>